# config files

.github
.eslintignore
.eslintrc.js
.gitignore
.node-version
.prettierignore
.prettierrc.js
.DS_Store
.git
.dockerignore
tsconfig.json
Dockerfile

# deps

node_modules

# docs

README.md

# src

src
